
<!--
	************************************************************
	* INTRO SECTION 10
	************************************************************ -->
	<section id="home" class="pos-rel pd-tb-large pd-b-0 min-vh-h100 overflow-none typo-light" data-ckav-sm="pd-tb-medium align-c">
		
		
		<!--=================================
		= BACKGROUND HOLDER
		==================================-->
		<div class="bg-holder full-wh z1">
			<!-- PARALLAX IMAGE -->
			<div class="full-wh bg-cover bg-cc z2">
				<!-- Slide -->
				<div class="slider">
					<div class="rev_slider_wrapper fullwidthbanner-container">
						<div id="rev_slider_2" class="rev_slider fullwidthabanner" data-version="5.4.5" style="display:none">
							<ul>
								<!-- Slide 1 -->
								<li data-transition="slidingoverlayhorizontal">
									<img src="assets/images/headers/sildes/02.jpg" alt="IMG-SLIDE" class="rev-slidebg">

									<h2 class="tp-caption tp-resizeme caption-1 text-uppercase" 
									data-frames='[{"delay":500,"speed":1500,"frame":"0","from":"x:left;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
									data-visibility="['on', 'on', 'on', 'on']"

									data-fontsize="['48', '48', '48', '38']" 
									data-lineheight="['58', '58', '58', '58']"
									data-color="['#FFF']" 
									data-textAlign="['right', 'center', 'center', 'center']"
								
									data-x="['center']" 
									data-y="['center']" 
									data-hoffset="['0', '0', '0', '0']" 
									data-voffset="['-83', '-83', '-83', '-93']" 
								
									data-width="['1200','992','768','480']"
									data-height="['auto', 'auto', 'auto', 'auto']" 
									data-whitespace="['normal']" 
								
									data-paddingtop="[0, 0, 0, 0]"
									data-paddingright="[15, 15, 15, 15]"
									data-paddingbottom="[0, 0, 0, 0]"
									data-paddingleft="[15, 15, 15, 15]"

									data-basealign="slide" 
									data-responsive_offset="off"
									><mark>Bienvenue au CATEP</mark></h2>

									<p class="tp-caption tp-resizeme caption-2" 
									data-frames='[{"delay":1500,"speed":1500,"frame":"0","from":"x:right;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
									data-visibility="['on', 'on', 'on', 'on']"

									data-fontsize="['30', '30', '30', '25']" 
									data-lineheight="['39', '39', '39', '39']"
									data-color="['#FFF']" 
									data-textAlign="['right', 'center', 'center', 'center']"
								
									data-x="['center']" 
									data-y="['center']" 
									data-hoffset="['0', '0', '0', '0']" 
									data-voffset="['-13', '-13', '-13', '-13']" 
								
									data-width="['1200','992','768','480']"
									data-height="['auto', 'auto', 'auto', 'auto']" 
									data-whitespace="['normal']" 
								
									data-paddingtop="[0, 0, 0, 0]"
									data-paddingright="[15, 15, 15, 15]"
									data-paddingbottom="[0, 0, 0, 0]"
									data-paddingleft="[15, 15, 15, 15]"

									data-basealign="slide" 
									data-responsive_offset="off"
									>
										<mark>Nous vous proposons un large choix de matériels, de pièces détachées & services </mark>
									</p>

									<div class="tp-caption tp-resizeme caption-3 flex-wr-c-c d-flex justify-content-lg-end"
									data-frames='[{"delay":3000,"speed":1500,"frame":"0","from":"y:bottom;rX:-20deg;rY:-20deg;rZ:0deg;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
									data-x="['center']" 
									data-y="['center']" 
									data-hoffset="['0', '0', '0', '0']" 
									data-voffset="['88', '88', '88', '88']" 
								
									data-width="['1200','992','768','480']"
									data-height="['auto']" 
								
									data-paddingtop="[0, 0, 0, 0]"
									data-paddingright="[10, 10, 10, 10]"
									data-paddingbottom="[0, 0, 0, 0]"
									data-paddingleft="[10, 10, 10, 10]"

									data-basealign="slide" 
									data-responsive_offset="off"
									>

										<a routerLink="/produits" class="btn btn-white solid large txt-upper rd-0 hov-btn-dark" data-ckav-sm="medium">Nos produits</a>

										<a routerLink="/nos-services" class="btn btn-white solid large txt-upper mr-l-10 rd-0 hov-btn-dark" data-ckav-sm="medium">En savoir +</a>

									</div>
								</li>

								<!-- Slide 2 -->
								<li data-transition="slidingoverlayvertical">
									<img src="assets/images/headers/sildes/05.jpg" alt="IMG-SLIDE" class="rev-slidebg">

									<h2 class="tp-caption tp-resizeme caption-1 text-uppercase" 
									data-frames='[{"delay":500,"speed":1500,"frame":"0","from":"y:top;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
									data-visibility="['on', 'on', 'on', 'on']"

									data-fontsize="['48', '48', '48', '38']" 
									data-lineheight="['58', '58', '58', '58']"
									data-color="['#FFF']" 
									data-textAlign="['right', 'center', 'center', 'center']"
								
									data-x="['center']" 
									data-y="['center']" 
									data-hoffset="['0', '0', '0', '0']" 
									data-voffset="['-83', '-83', '-83', '-93']" 
								
									data-width="['1200','992','768','480']"
									data-height="['auto', 'auto', 'auto', 'auto']" 
									data-whitespace="['normal']" 
								
									data-paddingtop="[0, 0, 0, 0]"
									data-paddingright="[15, 15, 15, 15]"
									data-paddingbottom="[0, 0, 0, 0]"
									data-paddingleft="[15, 15, 15, 15]"

									data-basealign="slide" 
									data-responsive_offset="off"
									><mark>Confection de flexible</mark></h2>

									<p class="tp-caption tp-resizeme caption-2" 
									data-frames='[{"delay":1500,"speed":1500,"frame":"0","from":"y:bottom;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
									data-visibility="['on', 'on', 'on', 'on']"

									data-fontsize="['30', '30', '30', '25']" 
									data-lineheight="['39', '39', '39', '39']"
									data-color="['#FFF']" 
									data-textAlign="['right', 'center', 'center', 'center']"
								
									data-x="['center']" 
									data-y="['center']" 
									data-hoffset="['0', '0', '0', '0']" 
									data-voffset="['-13', '-13', '-13', '-13']" 
								
									data-width="['1200','992','768','480']"
									data-height="['auto', 'auto', 'auto', 'auto']" 
									data-whitespace="['normal']" 
								
									data-paddingtop="[0, 0, 0, 0]"
									data-paddingright="[15, 15, 15, 15]"
									data-paddingbottom="[0, 0, 0, 0]"
									data-paddingleft="[15, 15, 15, 15]"

									data-basealign="slide" 
									data-responsive_offset="off"
									>
										<mark>Nous vous offrons un service de qualité adapté à vos besoins</mark>
									</p>

									<div class="tp-caption tp-resizeme caption-3 flex-wr-c-c d-flex justify-content-lg-end"
									data-frames='[{"delay":3000,"speed":1500,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.8;sY:0.8;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
									data-x="['center']" 
									data-y="['center']" 
									data-hoffset="['0', '0', '0', '0']" 
									data-voffset="['88', '88', '88', '88']" 
								
									data-width="['1200','992','768','480']"
									data-height="['auto']" 
								
									data-paddingtop="[0, 0, 0, 0]"
									data-paddingright="[10, 10, 10, 10]"
									data-paddingbottom="[0, 0, 0, 0]"
									data-paddingleft="[10, 10, 10, 10]"

									data-basealign="slide" 
									data-responsive_offset="off"
									>

										<a href="#" class="btn btn-white solid large txt-upper rd-0 hov-btn-dark" data-ckav-sm="medium">Our projects</a>

										<a href="#" class="btn btn-white solid large txt-upper mr-l-10 rd-0 hov-btn-dark" data-ckav-sm="medium">Learn more</a>

									</div>
								</li>

								<!-- Slide 3 -->
								<li data-transition="boxslide">
									<img src="assets/images/headers/sildes/12.jpg" alt="IMG-SLIDE" class="rev-slidebg">

									<h2 class="tp-caption tp-resizeme caption-1 text-uppercase" 
									data-frames='[{"delay":500,"speed":1500,"frame":"0","from":"x:-500px;skX:85px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
									data-visibility="['on', 'on', 'on', 'on']"

									data-fontsize="['48', '48', '48', '38']" 
									data-lineheight="['58', '58', '58', '58']"
									data-color="['#FFF']" 
									data-textAlign="['right', 'center', 'center', 'center']"
								
									data-x="['center']" 
									data-y="['center']" 
									data-hoffset="['0', '0', '0', '0']" 
									data-voffset="['-83', '-83', '-83', '-93']" 
								
									data-width="['1200','992','768','480']"
									data-height="['auto', 'auto', 'auto', 'auto']" 
									data-whitespace="['normal']" 
								
									data-paddingtop="[0, 0, 0, 0]"
									data-paddingright="[15, 15, 15, 15]"
									data-paddingbottom="[0, 0, 0, 0]"
									data-paddingleft="[15, 15, 15, 15]"

									data-basealign="slide" 
									data-responsive_offset="off"
									><mark>rencontrez nos experts</mark></h2>

									<p class="tp-caption tp-resizeme caption-2" 
									data-frames='[{"delay":1500,"speed":1500,"frame":"0","from":"x:500px;skX:-85px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
									data-visibility="['on', 'on', 'on', 'on']"

									data-fontsize="['30', '30', '30', '25']" 
									data-lineheight="['39', '39', '39', '39']"
									data-color="['#FFF']" 
									data-textAlign="['right', 'center', 'center', 'center']"
								
									data-x="['center']" 
									data-y="['center']" 
									data-hoffset="['0', '0', '0', '0']" 
									data-voffset="['-13', '-13', '-13', '-13']" 
								
									data-width="['1200','992','768','480']"
									data-height="['auto', 'auto', 'auto', 'auto']" 
									data-whitespace="['normal']" 
								
									data-paddingtop="[0, 0, 0, 0]"
									data-paddingright="[15, 15, 15, 15]"
									data-paddingbottom="[0, 0, 0, 0]"
									data-paddingleft="[15, 15, 15, 15]"

									data-basealign="slide" 
									data-responsive_offset="off"
									>
										<mark>Nous vous proposons notre expertise</mark>
									</p>

									<div class="tp-caption tp-resizeme caption-3 flex-wr-c-c d-flex justify-content-lg-end"
									data-frames='[{"delay":3000,"speed":1500,"frame":"0","from":"y:bottom;rZ:90deg;sX:2;sY:2;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
									data-x="['center']" 
									data-y="['center']" 
									data-hoffset="['0', '0', '0', '0']" 
									data-voffset="['88', '88', '88', '88']" 
								
									data-width="['1200','992','768','480']"
									data-height="['auto']" 
								
									data-paddingtop="[0, 0, 0, 0]"
									data-paddingright="[10, 10, 10, 10]"
									data-paddingbottom="[0, 0, 0, 0]"
									data-paddingleft="[10, 10, 10, 10]"

									data-basealign="slide" 
									data-responsive_offset="off"
									>

										<a href="#" class="btn btn-white solid large txt-upper rd-0 hov-btn-dark" data-ckav-sm="medium">Our projects</a>

										<a href="#" class="btn btn-white solid large txt-upper mr-l-10 rd-0 hov-btn-dark" data-ckav-sm="medium">Learn more</a>

									</div>
								</li>
							</ul>				
						</div>
					</div>
				</div>
		    </div>
			
		</div>
		<!-- ======= END : BACKGROUND HOLDER =======  -->

	</section>
	<!-- ************** END : INTRO SECTION 10 **************  -->

	

	<!--
	************************************************************
	* FEATURES SECTION 08
	************************************************************ -->
	<section id="features08" class="pos-rel pd-tb-medium bg-white" data-ckav-sm="pd-tb-medium">
		<div class="container" data-ckav-sm="mr-0 align-c" data-ckav-md="mr-auto">

			<!--=================================
			= TEXT
			==================================-->
			<div class="row mr-b-60" data-ckav-sm="mr-b-30" data-animate-in="fadeIn">
				
				<div class="col-lg-4">
					<h2 class="title large f-1 bold-5 mr-b-30" data-ckav-sm="medium">Les services du CATEP</h2>
				</div>

				<div class="col-lg-6 offset-lg-2">
					<p class="f-2 bold-n fs16 lh-8">
						Le GROUPE M'VOLAIS SARL met à votre service son expertise afin de vous aider à régler les problèmes relatifs au bon fonctionnement de votre entreprise.
					</p>
					<div class="jarallax" data-animate-in="fadeInRight|0.1">
						<img src="assets/images/logo-light01.png" width="50%" class="mr-auto -mr-b-60 jarallax-img" alt="phone image">		
					</div>
				</div>

			</div>
			<!-- ======= END : TEXT =======  -->
			
			<!--=================================
			= INFO BOXES
			==================================-->
			<div class="row gt0" data-ckav-sm="mr-0">
				
				<div class="col-lg-3 col-md-6" data-animate-in="fadeInUp|0.1">
					<a href="#" class="op1 info-obj img-t g30 small align-l pd-small rd-10 hov-shadow-xlarge hov-bg-white hov-bdr-default bdr-b-5 bdr-b-glass" data-ckav-sm="align-c pd-10">
						<div class="img txt-default"><span class="iconwrp"><i class="pe-7s-plugin"></i></span></div>
						<div class="info">
							<h3 class="title tiny f-2 bold-5">Pièce détachées</h3>
							<p class="f-2">
								Pièce de chariots élévateur, machine de mine, carrière, Roulement, courroie...
							</p>
						</div>
					</a>
				</div>

				<div class="col-lg-3 col-md-6" data-animate-in="fadeInUp|0.2">
					<a href="#" class="op1 info-obj img-t g30 small align-l pd-small rd-10 hov-shadow-xlarge hov-bg-white hov-bdr-default bdr-b-5 bdr-b-glass" data-ckav-sm="align-c pd-10">
						<div class="img txt-default"><span class="iconwrp"><i class="pe-7s-tools"></i></span></div>
						<div class="info">
							<h3 class="title tiny f-2 bold-5">EPI (<em>Equipement de Protection Individuelle</em>)</h3>
							<p class="f-2">Protection des pieds, des mains, du crane, du corps, antichute, respiratoire, auditive, visuelle...</p>
						</div>
					</a>
				</div>

				<div class="col-lg-3 col-md-6" data-animate-in="fadeInUp|0.4">
					<a href="#" class="op1 info-obj img-t g30 small align-l pd-small rd-10 hov-shadow-xlarge hov-bg-white hov-bdr-default bdr-b-5 bdr-b-glass" data-ckav-sm="align-c pd-10">
						<div class="img txt-default"><span class="iconwrp"><i class="pe-7s-monitor"></i></span></div>
						<div class="info">
							<h3 class="title tiny f-2 bold-5">Informatique</h3>
							<p class="f-2">
								Ordinateurs, Unité centrale, disque dures, moniteur, imprimante, scaneurs souris, casques, usb, divers pièces...
							</p>
						</div>
					</a>
				</div>

				<div class="col-lg-3 col-md-6 mr-auto" data-animate-in="fadeInUp|0.5">
					<a href="#" class="op1 info-obj img-t g30 small align-l pd-small rd-10 hov-shadow-xlarge hov-bg-white hov-bdr-default bdr-b-5 bdr-b-glass" data-ckav-sm="align-c pd-10">
						<div class="img txt-default"><span class="iconwrp"><i class="pe-7s-config"></i></span></div>
						<div class="info">
							<h3 class="title tiny f-2 bold-5">Maintenance</h3>
							<p class="f-2">
								Depanage des chariots élévateur, 
								Depanage des engin de TP,
								Intervention industriels
							</p>
						</div>
					</a>
				</div>


			</div>
			<!-- ======= END : INFO BOXES =======  -->

		</div>

		<!--=================================
		= BACKGROUND HOLDER
		==================================-->
		<div class="bg-holder full-wh z1">
			
			<!-- OVERLAY -->
			<b data-bgholder="overlay" class="full-wh z3" data-rgradient="y" data-rg-colors="rgba(239, 134, 83, 0.0)|rgba(78, 164, 154, 0.0)"></b>
			
			<!-- PARALLAX IMAGE -->
			<div class="jarallax full-wh bg-cover bg-cc z2" data-jparallax="n" data-speed="0.2"></div>
			
			<!-- BACKGROUND IMAGE -->
			<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1" data-bg="assets/images/pattern-03.png"></b>
		</div>
		<!-- ======= END : BACKGROUND HOLDER =======  -->

	</section>
	<!-- ************** END : FEATURES SECTION 08 **************  -->

	<!--
	************************************************************
	* CONTENT SECTION 22
	************************************************************ -->
	<section id="content22" class="pos-rel pd-tb-large bg-white" data-ckav-sm="pd-tb-medium align-c">
		<div class="container">
			
			<div class="row gt80 align-items-center">
				<div class="col-md-7">
					
					<!--=================================
					= TEXT
					==================================-->
					<div class="text" data-ckav-sm="mr-b-30">	
						<h2 class="title large f-1 bold-5 mr-b-30" data-ckav-sm="medium" data-animate-in="fadeInUp">Qui somme nous ?</h2>
									
						<p class="f-2 bold-n fs16 lh-8" data-animate-in="fadeInUp|0.1">
							Le GROUPE M'VOLAIS SARL est une société commerciale ivoirienne spécialisée dans la fourniture de pièce detaché ou distriution.
						</p>

						<p class="f-2 bold-n fs16 lh-8 mr-b-60" data-ckav-sm="mr-b-30" data-animate-in="fadeInUp|0.2">
							Depuis 2008 jusqu'au aujourd'hui nous touchons tous les sectuers d'activités et faisons la satisfaction de nos clients une priorité absolue!
							Ce qui nous a value plusieurs partenariats avec de grandes industries ivoirienne...
						</p>
						
						<a routerLink="/a-propos" class="btn btn-default solid f-2 txt-upper" data-animate-in="fadeInUp|0.3">En savoir plus</a>
					</div>
					<!-- ======= END : TEXT =======  -->

				</div>

				<div class="col-md-5 hidden" data-animate-in="fadeInRight">
					<img src="assets/images/agency-watch-01.png" alt="watch">
				</div>
			</div>

		</div>

		<!--=================================
		= BACKGROUND HOLDER
		==================================-->
		<div class="bg-holder full-wh z1">
			
			<!-- OVERLAY -->
			<b data-bgholder="overlay" class="full-wh z3" data-rgradient="y" data-rg-colors="rgba(239, 134, 83, 0.0)|rgba(78, 164, 154, 0.0)"></b>
			
			<!-- PARALLAX IMAGE -->
			<div class="jarallax full-wh bg-cover bg-cc z2" data-jparallax="y" data-speed="0.2" data-bg="assets/images/agency-watch-01.png"></div>
			
			<!-- BACKGROUND IMAGE -->
			<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1" data-bg="assets/images/pattern-04.png"></b>
		</div>
		<!-- ======= END : BACKGROUND HOLDER =======  -->

	</section>
	<!-- ************** END : CONTENT SECTION 22 **************  -->

	    <!--
	************************************************************
	* CONTENT SECTION 27
	************************************************************ -->
	<section id="content27" class="pos-rel pd-tb-medium" data-ckav-sm="align-c pd-tb-medium">
		<div class="container">

            <div class="text mr-b-60 w70 mr-auto align-c" data-ckav-sm="mr-b-30 w100">
                <h3 class="title medium txt-upper f-1 mr-b-30 bold-5" data-ckav-sm="medium mr-b-20" data-animate-in="fadeInUp|0.1">Produits Récents</h3>
            </div>
            
            <div class="row align-items-center mr-b-60" data-ckav-sm="mr-b-30" data-animate-in="fadeInUp|0.1">

                <div class="col-md-4" *ngFor="let product of products| slice:0:3">
                    <div class="info-obj img-t hov-shadow-xlarge bdr-1 bdr-glass anim">
                        <div class="img pos-rel">
                            
                            <a [routerLink]="['/produits/', product.id]"><img [src]="product.image" alt="product image"></a>
                        </div>
                        <div class="info pd-tiny bg-gray align-c">
                            <h3 class="title mini bold-5 f-1">{{product.title}}</h3>
                            <p class="mr-0" [innerHTML]="product.description"></p>
                            <hr>
                            <a [routerLink]="['/produits/', product.id]" class="btn btn-dark solid mini rd-0 txt-upper">Commander</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row align-items-center mr-b-60" data-ckav-sm="mr-b-30">
                <div class="col-md-4" data-animate-in="fadeInLeft|0.1">
                    <hr>    
                </div>
                <div class="col-md-4 align-c" data-animate-in="fadeInUp|0.1">
                    <a routerLink="/produits" class="btn btn-dark large solid rd-0 txt-upper" data-ckav-sm="medium">Plus D'offres</a>
                </div>
                <div class="col-md-4" data-animate-in="fadeInRight|0.1">
                    <hr>    
                </div>
            </div>

            <div class="row gt60 align-items-center">
                <div class="col-md-4" data-animate-in="fadeInUp|0.3">
                    <div class="info-obj img-t g20 mini align-c">
                        <div class="img txt-default"><span class="iconwrp"><i class="mdi mdi-account-group"></i></span></div>
                        <div class="info">
                            <h3 class="fs16 f-1 txt-upper">Satisfaction du client</h3>
                            <p>Trouver ce dont vous avez besoins pour toutes vos activités</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4" data-animate-in="fadeInUp|0.2">
                    <div class="info-obj img-t g20 mini align-c">
                        <div class="img txt-default"><span class="iconwrp"><i class="mdi mdi-wallet"></i></span></div>
                        <div class="info">
                            <h3 class="fs16 f-1 txt-upper">Pourquoi Nous ?</h3>
                            <p>
								Avec Le <strong>GROUPE M'VOLAIS SARL</strong> Fini les prix très élevés et les délais de livraison très long; Fini les temps d’arrêt très long de vos engins de travail
							</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4" data-animate-in="fadeInUp|0.3">
                    <div class="info-obj img-t g20 mini align-c">
                        <div class="img txt-default"><span class="iconwrp"><i class="mdi mdi-headset"></i></span></div>
                        <div class="info">
                            <h3 class="fs16 f-1 txt-upper">24/7 Support</h3>
                            <p>Contactez au <strong>27 23 50 33 72</strong> pour d'ample information ou pour passer vos commandes</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
	</section>
	<!-- ************** END : CONTENT SECTION 27 **************  -->

	<!--
	************************************************************
	* OTHER 05
	************************************************************ -->
	<section class="pos-rel pd-tb-medium min-vh-h50 typo-light flex-cc" data-ckav-sm="pd-tb-medium align-c">
		<div class="container">
			<div class="row">
				<div class="col-md-7">
	
				</div>
	
				<div class="col-md-5">
					<img src="assets/images/icon-check.png" alt="icon" class="mr-b-tiny max-px-w150" data-ckav-sm="mr-auto" data-animate-in="fadeInUp">
					<div class="text mr-b-60" data-ckav-sm="mr-b-30">
						<h2 class="title large f-1 bold-5 mr-b-30" data-ckav-sm="medium mr-b-20" data-animate-in="fadeInUp">Confexion de flexible(Miniers, Pétroliers, Hydraulique)</h2>
						<p class="title-sub f-2 bold-n mini lh-8" data-ckav-sm="fs16" data-animate-in="fadeInUp|0.1">
							<mark>la confection de vos flexibles sur votre site de travail, toute chose qui vous permet de gagner du temps et faire des économies au plan financier.</mark>
							<br><br> <mark>A votre demande notre entreprise peut s’installer sur votre site de travail avec son matériel de confection de flexibles et mettre en place un stock selon vos besoins.</mark>
						</p>
					</div>
	
					<!-- <a routerLink="/réalisations" class="btn btn-default solid txt-upper" data-animate-in="fadeInUp|0.2">Nos Réalisations</a> -->
				</div>
	
			</div>
		</div>

		<!--=================================
		= BACKGROUND HOLDER
		==================================-->
		<div class="bg-holder full-wh z1">
			
			<!-- OVERLAY -->
			<b data-bgholder="overlay" class="full-wh z3" data-rgradient="y" data-rg-colors="rgba(0, 0, 0, 0)|rgba(0, 0, 0, 0.3)"></b>
			
			<!-- PARALLAX IMAGE -->
			<div class="jarallax full-wh bg-cover bg-cc z2" data-jparallax="y" data-speed="0.2" data-bg="assets/images/bg-agency-03.jpg"></div>
			
			<!-- BACKGROUND IMAGE -->
			<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
		</div>
		<!-- ======= END : BACKGROUND HOLDER =======  -->

	</section>
	<!-- ************** END : OTHER 05 **************  -->


	<!-- ************************************************************
	* CONTENT SECTION 26
	************************************************************ -->
	<section id="content26" class="pos-rel pd-tb-medium" data-ckav-sm="pd-tb-medium align-c">
		<div class="container">
            <div class="row gt60 align-items-center">

                <!--=================================
                = LEFT
                ==================================-->
                <div class="col-lg-8" data-ckav-sm="mr-b-30">
                    
                    <div class="row" data-animate-in="fadeInLeft|0.1">
                        <div *ngFor="let article of articles | slice:0:2" class="col-md-6">
                            <div class="info-obj img-t g0 align-l bg-white shadow-xlarge">
                                <div class="img"><a [routerLink]="['/actualités/', article.id]"><img [src]="article.image" alt="image"></a></div>
                                <div class="info pd-tiny bdr-1 bdr-op-1">
                                    <p class="fs12 f-2 mr-b-10"><span class="tag-text">{{ article.created | date: 'd MMM y' }}</span></p>
                                    <h3 class="fs16 mr-b-10 f-1"><a [routerLink]="['/actualités/', article.id]">{{article.title}}</a></h3>
                                    <p class="mr-0 mr-b-30">{{article.description}}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- ======= END : LEFT =======  -->

                <div class="col-lg-4 typo-light" data-ckav-sm="align-l">

                    <div class="text mr-b-60" data-ckav-sm="mr-b-30 align-c">
                        <h3 class="title medium txt-upper f-1 mr-b-60 bold-5" data-ckav-sm="medium mr-b-20" data-animate-in="fadeInUp|0.1">Dernières nouvelles</h3>
                    </div>
					<ng-container *ngFor="let article of articles | slice:2:6">
						<div class="info-obj img-l g20 tiny">
							<div class="img"><span class="iconwrp txt-default"><img src="{{article.image}}" alt="" width="200" height="143"></span></div>
							<div class="info">
								<a [routerLink]="['/actualités/', article.id]">
									<h3 class="fs14 f-1 bold-n mr-b-4 mr-b-0">{{article.title}}</h3>
								</a>
							</div>
						</div>
						<hr class="light mr-tb-30" data-ckav-sm="mr-tb-20">
					</ng-container>
                </div>
            </div>

        </div>
        
        <div class="container-fluid full-wh w100 h100">
            <div class="row h100">
                <div class="col-md-6 bg-white">

                </div>

                <div class="col-md-6 bg-dark">

                </div>
            </div>
        </div>
	</section>
	<!-- ************** END : CONTENT SECTION 26 **************  -->

	

	<!--
	************************************************************
	* TESTIMONIALS 07
	************************************************************ -->
	<section id="testimonials07" class="pos-rel pd-tb-medium bg-gray" data-ckav-sm="pd-tb-medium align-c">
		<div class="container align-c">
			
			<!--=================================
			= TEXT
			==================================-->
			<div class="text mr-b-60 align-c w60 mr-auto" data-ckav-sm="mr-b-30">
				<h2 class="title large f-1 bold-5 mr-b-30" data-ckav-sm="medium mr-b-20" data-animate-in="fadeInUp">Nos Partenaires</h2>
			</div>
			<!-- ======= END : TEXT =======  -->
		</div>

		<div class="container">
			<app-partners></app-partners>
		</div>

		<!--=================================
		= BACKGROUND HOLDER
		==================================-->
		<div class="bg-holder full-wh z1">
			
			<!-- OVERLAY -->
			<b data-bgholder="overlay" class="full-wh z3" data-gradient="y" data-g-colors="rgba(255, 255, 255, 0.0)|rgba(255, 255, 255, 0.6)"></b>
			
			<!-- PARALLAX IMAGE -->
			<div class="jarallax full-wh bg-cover bg-cc z2" data-jparallax="n" data-speed="0.2"></div>
			
			<!-- BACKGROUND IMAGE -->
			<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1" data-bg="assets/images/pattern-05.png"></b>
		</div>
		<!-- ======= END : BACKGROUND HOLDER =======  -->

	</section>
	<!-- ************** END : TESTIMONIALS 07 **************  -->