<!--
	************************************************************
	* PAGE HEADER 02
	************************************************************ -->
	<header class="pos-rel pd-tb-large flex-cc min-vh-h60" data-ckav-sm="pd-tb-medium">
		<div class="container typo-light pos-rel z2 pd-b-1">

			<div class="row align-items-center">
				<div class="col-md-6">
					<div class="content" data-ckav-sm="mr-0">
						<h1 class="title xlarge f-1" data-ckav-sm="medium">Contactez nous</h1>
					</div>
				</div>

				<div class="col-md-6 align-r">
					<div class="fs14 pd-tb-5 pd-lr-tiny inline-block">
						<a href="/" class="txt-white">Accueil</a>
						<b class="mr-lr-5"> / </b>
						<a href="#" class="txt-white">Contactez-nous</a>
					</div>
				</div>				
			</div>
		</div>

		<!--=================================
		= BACKGROUND HOLDER
		==================================-->
		<div class="bg-holder full-wh z1">
			
			<!-- OVERLAY -->
			<b data-bgholder="overlay" class="full-wh z4" data-gradient="y" data-g-colors="rgba(0, 0, 0, 0.2)|rgba(0, 0, 0, 1)"></b>
			
			<!-- PARALLAX IMAGE -->
			<div class="jarallax full-wh bg-cover bg-cc z2" data-jparallax="y" data-speed="0.2" data-bg="assets/images/headers/contact-us.jpg"></div>
			
			<!-- BACKGROUND IMAGE -->
			<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
		</div>
		<!-- ======= END : BACKGROUND HOLDER =======  -->

	</header>
	<!-- ************** END : PAGE HEADER 01 **************  -->
	
	<!--
	************************************************************
	* CONTACT SECTION 01
	************************************************************ -->
	<section id="contact01" class="pos-rel bg-white pd-0" data-ckav-sm="align-c">
		<div class="container typo-light">

            <!--=================================
            = CONTACT
            ==================================-->
            <div class="row">
                <div class="col-md-4">
                    <div class="info-obj pd-60 img-t g20 mini align-c" data-ckav-sm="pd-30">
                        <div class="img txt-default"><span class="iconwrp"><i class="mdi mdi-phone"></i></span></div>
                        <div class="info">
                            <h3 class="fs16 f-1 bold-n txt-dark">Téléphone</h3>
                            <h4 class="fs18 f-2 txt-dark">
                                27 23 50 33 72 <br>
                                27 23 41 22 35 <br>
                                05 56 24 67 18 <br>
                                07 07 71 25 83 <br>
                            </h4>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="info-obj pd-60 img-t g20 mini align-c" data-ckav-sm="pd-30">
                        <div class="img txt-default"><span class="iconwrp"><i class="mdi mdi-map-marker"></i></span></div>
                        <div class="info">
                            <h3 class="fs16 f-1 bold-n txt-dark">Emplacement</h3>
                            <h4 class="fs18 f-2 txt-dark">
                                Carrefour Anador, à 100 m de la Pharmacie Anador <br>  - Maroc,
                                Yopougon Abidjan - Côte d’Ivoire
                            </h4>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="info-obj pd-60 img-t g20 mini align-c" data-ckav-sm="pd-30">
                        <div class="img txt-default"><span class="iconwrp"><i class="mdi mdi-email"></i></span></div>
                        <a href="mailto:{{email}}">
                            <div class="info">
                            <h3 class="fs16 f-1 bold-n txt-dark">Email</h3>
                            <h4 class="fs18 f-2 txt-dark">info@groupemvolais.com</h4>
                        </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- ======= END : CONTACT =======  -->
        
        </div>

        <div class="container-fluid bg-gray">

            <!--=================================
            = CONTACT
            ==================================-->
            <div class="row">
                <div class="pd-tb-medium col-lg-6 flex-cc" data-ckav-sm="pd-tb-medium">
                    <div class="w40" data-ckav-sm="w100">
                        <!-- TEXT -->
                        <div class="mr-b-60 align-l" data-ckav-sm="mr-b-30 align-c">
                            <h1 class="title small f-1 bold-4 txt-upper mr-b-30" data-ckav-sm="large mr-b-20">Contactez-nous</h1>
                        </div>
                        <!-- / TEXT -->
    
                        <form class="form-widget align-l" novalidate="novalidate" data-ckav-sm="align-c">
                            <div class="field-wrp mr-b-40">
                                <input type="hidden" name="to" value="c.kav.art@gmail.com">
    
                                <div class="row gt10">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input class="form-control bb" data-label="Name" required="" data-msg="Entrer Votre Nom S'il Vous Plaît." type="text" name="name" placeholder="Votre Nom" aria-required="true">
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input class="form-control bb" data-label="Email" required="" data-msg="Entrer Votre Email S'il Vous Plaît." type="email" name="email" placeholder="Votre Email" aria-required="true">
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <input class="form-control bb" required="" data-label="Phone" data-msg="Entrer Votre Numéro De Téléphone S'il Vous Plaît." type="text" name="phone" placeholder="Votre Numéro De Téléphone" aria-required="true">
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control bb" data-label="Message" required="" data-msg="Entrer Votre Message S'il Vous Plaît." name="message" placeholder="Ajouter Votre Message" cols="30" rows="5" aria-required="true"></textarea>
                                </div>
                            </div>
                            <button type="submit" class="btn solid btn-dark f-1 txt-upper bold-2 rd-0 mr-auto"><i class="fa fa-envelope-o"></i> Envoyer Message</button>
                        </form>
                    </div>
                </div>

                <div class="col-lg-6 flex-cl" data-ckav-sm="block">
                    <!-- GOOGLE MAP -->
                    <div class="full-wh" data-ckav-sm="pos-rel min-px-h400">
                        <iframe class="w100 h100" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15890.086582631768!2d-4.1006172!3d5.337027!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x57956cb988d225ae!2sGroupe%20M&#39;volais%20SARL!5e0!3m2!1sfr!2sci!4v1654506765363!5m2!1sfr!2sci" style="border:0" allowfullscreen></iframe>
                    </div>
                    <!-- / GOOGLE MAP -->
                </div>
            </div>
            <!-- ======= END : CONTACT =======  -->

        </div>
        
	</section>
    <!-- ************** END : CONTACT SECTION 01 **************  -->
