<!--
	************************************************************
	* FOOTER SECTION 10
	************************************************************ -->
	
    <footer class="pd-tb-small pos-rel bg-dark typo-light" data-ckav-sm="pd-tb-small align-c">
		<div class="container pos-rel z1">
			
			<div class="row gt20 mb20">
				
				<!--=================================
				= SOCIAL LINKS
				==================================-->
				<div class="col-lg-3">

					<p><a href="#" class="inline-block max-px-w100"><img src="assets/images/logo-light0.png" alt="logo"></a></p>
					<p class="op-07 f-2">Carrefour Anador à 100 m de la Pharmacie Anador - Maroc, Yopougon - 21 BP 4260 Abidjan 21, Abidjan - Côte d’Ivoire</p>
					
					<a href="#" target="_blank" class="sq40 fs16 mr-r-4 rd inline-flex flex-cc bdr-2 bdr-op-light-1 btn-white"><i class="fab fa-facebook-f"></i></a>
					<a href="#" target="_blank" class="sq40 fs16 mr-r-4 rd inline-flex flex-cc bdr-2 bdr-op-light-1 btn-white"><i class="fab fa-twitter"></i></a>
					<a href="#" target="_blank" class="sq40 fs16 mr-r-4 rd inline-flex flex-cc bdr-2 bdr-op-light-1 btn-white"><i class="fab fa-google"></i></a>
					<a href="#" target="_blank" class="sq40 fs16 mr-r-4 rd inline-flex flex-cc bdr-2 bdr-op-light-1 btn-white"><i class="fab fa-youtube"></i></a>
					<a href="#" target="_blank" class="sq40 fs16 mr-r-4 rd inline-flex flex-cc bdr-2 bdr-op-light-1 btn-white"><i class="fab fa-tumblr"></i></a>

				</div><!-- // END : column //  -->


				<!--=================================
				=  LINKS
				==================================-->
				<div class="col-lg-3 offset-lg-1">
                    <h2 class="title small bold-n f-1">Nous contacter</h2>
					<ul class="list-1 op-07 f-2" style="color:floralwhite;">
                        <li><a href="mailto:info@groupemvolais.com"><span class="mdi mdi-email txt-default mr-r-4"></span> info@groupemvolais.com</a></li> 
						<li><a href="#"><span class="mdi mdi-phone txt-default mr-r-4"></span> 27 23 50 33 72</a></li>
						<li><a href="#"><span class="mdi mdi-phone txt-default mr-r-4"></span> 27 23 41 22 35</a></li>
						<li><a href="#"><span class="mdi mdi-cellphone txt-default mr-r-4"></span> 05 56 24 67 18</a></li>
						<li><a href="#"><span class="mdi mdi-cellphone txt-default mr-r-4"></span> 07 07 71 25 83</a></li>
						<li><a><span class="mdi mdi-fax txt-default mr-r-4"></span>  27 23 46 94 32</a></li> 

					</ul>
					
				</div><!-- // END : column //  -->
				
				
				<!--=================================
				= FORM
				==================================-->
				<div class="col-lg-5">
					<h2 class="title small bold-n f-1">Newsletter</h2>
					<p class="op-07 f-2">Abonnez-vous à notre newsletter pour rester informé</p>
					
					<div class="form-block">
						<form action="form-data/notify-me.php" class="form-widget" data-formtype="newsletter" novalidate="novalidate">
							<div class="flex-row gt10">
								<div class="col-md-9">
									<div class="form-group">
										<input class="form-control form-control-light w-100" data-label="Email" data-msg="Enter votre email s'il vous plaît." type="email" name="email" placeholder="Entrer votre email">
									</div>
								</div>
								<div class="col-md-3">
									<button type="submit" data-loading-text="Pleae wait.." class="btn solid btn-default block fs22"><i class="far fa-envelope"></i></button>
								</div>
							</div>
						</form>
					</div>
				</div>

			</div>

			<hr class="mr-tb-20 light">
			<a href="https://ivoirelight-technologies.web.app/" target="_blank">Ivoirelight Technologies</a> © <script>document.write(new Date().getFullYear());</script>2022
			
		</div>
	</footer>
	<!-- ************** END : FOOTER SECTION 10 **************  -->
