<!--
	************************************************************
	* PAGE HEADER 02
	************************************************************ -->
	<header class="pos-rel pd-tb-large flex-cc min-vh-h60" data-ckav-sm="pd-tb-medium">
		<div class="container typo-light pos-rel z2 pd-b-1">

			<div class="row align-items-center">
				<div class="col-md-7">
					<div class="content" data-ckav-sm="mr-0">
						<h1 class="title xlarge f-1" data-ckav-sm="medium">A propos de nous</h1>
					</div>
				</div>

				<div class="col-md-5 align-r">
					<div class="fs14 pd-tb-5 pd-lr-tiny inline-block">
						<a href="/" class="txt-white">Accueil</a>
						<b class="mr-lr-5"> / </b>
						<a href="#" class="txt-white">A propos</a>
					</div>
				</div>				
			</div>
		</div>

		<!--=================================
		= BACKGROUND HOLDER
		==================================-->
		<div class="bg-holder full-wh z1">
			
			<!-- OVERLAY -->
			<b data-bgholder="overlay" class="full-wh z4" data-gradient="y" data-g-colors="rgba(0, 0, 0, 0.2)|rgba(0, 0, 0, 1)"></b>
			
			<!-- PARALLAX IMAGE -->
			<div class="jarallax full-wh bg-cover bg-cc z2" data-jparallax="y" data-speed="0.2" data-bg="assets/images/headers/apropos.jpg"></div>
			
			<!-- BACKGROUND IMAGE -->
			<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
		</div>
		<!-- ======= END : BACKGROUND HOLDER =======  -->

	</header>
	<!-- ************** END : PAGE HEADER 01 **************  -->
	
	<!--
	************************************************************
	* PAGE CONTENT 01
	************************************************************ -->
	<section class="pos-rel pd-tb-medium" data-ckav-sm="align-c pd-tb-medium">
        <div class="container">
            <div class="row middle-md" data-ckav-sm="align-c">
                <div class="col-md-6" data-animate-in="fadeInLeft">
                    <div class="pos-rel" data-ckav-sm="mr-b-40">
                        
                        <img src="assets/images/prentation.jpg" class="img-responsive" alt="image">
                    </div>
                </div>
                <div class="col-md-5 offset-md-1">
                    <div class="content">
                        <h2 class="title bold-5 f-1" data-ckav-sm="medium" data-animate-in="fadeInUp|0.1">A propos du GROUPE M'VOLAIS</h2>
                        <p class="title-sub small" data-ckav-sm="small" data-animate-in="fadeInUp|0.2">
							Le GROUPE M'VOLAIS SARL est une société commerciale ivoirienne spécialisée dans la fourniture de pièce detaché ou distriution
						</p>
                        <p class="list-2" data-animate-in="fadeInUp|0.3">
							La société a existé sous la forme juridique d'entreprise individuelle depuis janvier 2008 avant de muter en société à responsabilité limitée (SARL) en août 2011. C’est une société de droit ivoirien, fondée par des jeunes ivoiriens avec de longues années d'expériences acquises dans une multinationale de la place.
						</p>
                    </div>
                </div>
            </div>
        </div>
	</section>
	<!-- ************** END : PAGE CONTENT 01 **************  -->

	<!--
	************************************************************
	* PAGE CONTENT 11
	************************************************************ -->
	<section id="content11" class="pos-rel pd-tb-small bg-gray" data-ckav-sm="pd-tb-small">
		<div class="container">
			
			<div class="row gt50 mb20">
				<div class="col-md-4" data-animate-in="fadeInUp|0.1">
					<div class="info-obj img-t g30 mr-0">
						<div class="img"><img src="assets/images/mission.jpg" alt="image"></div>
						<div class="info">
							<h3 class="title mini bold-4 bdr-b bdr-b-1 bdr-default f-1">Notre mission</h3>
							<p class="mr-0">
								Le GROUPE M'VOLAIS SARL met à votre service son expertise afin de vous aider à régler les problèmes relatifs au bon fonctionnement de votre entreprise. Car pendant longtemps vous avez souffert des prix très élevés et des délais de livraison très long, des temps d’arrêt très long de vos engins de travail.
							</p>
						</div>
					</div>
				</div>

				<div class="col-md-4" data-animate-in="fadeInUp|0.2">
					<div class="info-obj img-t g30 mr-0">
						<div class="img"><img src="assets/images/pourquoi-nous.jpg" alt="image"></div>
						<div class="info">
							<h3 class="title mini bold-4 bdr-b bdr-b-1 bdr-default f-1">Pourquoi nous choisir</h3>
							<p class="mr-0">
								En plus de la distribution de ces pièces, LE GROUPE M’VOLAIS Fait la confection de vos flexibles sur votre site de travail, toute chose qui vous permet de gagner du temps et faire des économies au plan financier
							</p>
						</div>
					</div>
				</div>

				<div class="col-md-4" data-animate-in="fadeInUp|0.3">
					<div class="info-obj img-t g30 mr-0">
						<div class="img"><img src="assets/images/vison.jpg" alt="image"></div>
						<div class="info">
							<h3 class="title mini bold-4 bdr-b bdr-b-1 bdr-default f-1">Notre vision</h3>
							<p class="mr-0">Votre satisfaction est notre préoccupation au quotidien</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- ************** END : PAGE CONTENT 11 **************  -->	

	<!--
	************************************************************
	* COUNTER SECTION 03
	************************************************************ -->
	<section id="count03" class="pos-rel pd-tb-medium bg-dark" data-ckav-sm="pd-tb-small">
		<div class="container">
			

		</div><!-- // END : Container //  -->

		<!--=================================
		= BACKGROUND HOLDER
		==================================-->
		<div class="bg-holder full-wh z1">
			
			<!-- OVERLAY -->
			<b data-bgholder="overlay" class="full-wh z4" data-rgradient="y" data-rg-colors="rgba(0, 0, 0, 0.2)|rgba(0, 0, 0, 1)"></b>
			
			<!-- PARALLAX IMAGE -->
			<div class="jarallax full-wh bg-cover bg-cc z2" data-jparallax="y" data-speed="0.2" data-bg="assets/images/tools.jpg"></div>
			
			<!-- BACKGROUND IMAGE -->
			<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
		</div>
		<!-- ======= END : BACKGROUND HOLDER =======  -->

	</section>
	<!-- ************** END : COUNTER SECTION 03 **************  -->


	<!--
	************************************************************
	* TESTIMONIALS SECTION 02
	************************************************************ -->
	<section id="testimonials" class="pos-rel pd-tb-medium" data-ckav-sm="pd-tb-small align-c">
		<div class="container align-c">
			
			<!--=================================
			= TEXT
			==================================-->
			<div class="w75 mr-auto align-c">
				<h2 class="title bold-5 f-1" data-ckav-sm="medium" data-animate-in="fadeInUp">Partenaires d'affaires</h2>
			</div>
			<!-- ======= END : TEXT =======  -->

			<!--=================================
			= BRANDS
			==================================-->
			<div class="mr-b-60" data-ckav-sm="mr-b-30" data-animate-in="fadeInUp|0.3">
				<app-partners></app-partners>
			</div>
			<!-- ======= END : BRANDS =======  -->			
		</div>

		<!--=================================
		= BACKGROUND HOLDER
		==================================-->
		<div class="bg-holder full-wh z1">
			
			<!-- OVERLAY -->
			<b data-bgholder="overlay" class="full-wh z3" data-gradient="y" data-g-colors="rgba(0, 0, 0, 0)|rgba(0, 0, 0, 0.06)"></b>
			
			<!-- PARALLAX IMAGE -->
			<div class="jarallax full-wh bg-cover bg-cc z2" data-jparallax="n" data-speed="0.2"></div>
			
			<!-- BACKGROUND IMAGE -->
			<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
		</div>
		<!-- ======= END : BACKGROUND HOLDER =======  -->
	</section>
	<!-- ************** END : TESTIMONIALS SECTION 02 **************  -->